body {
    background: #121212;
}

#search-bar {
    margin-left: 10vw;
    display: flex;
    align-items: center;
}

#search-bar h1{
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f4c518;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
}

#search-bar Input {
    margin-left: 20px;
    height: 30px;
    width: 700px;
    border: 5px;
}

#movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    color: white;
    width: 60%;
    margin: 2rem 0 2rem 9rem;
}

.movie-card {
    background: lalala;
    border-radius: 10px;
}
.movie-card img {
    width: 100%;
}

.movie-card h1 {
    padding-left: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.movie-card p {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}

#category-title {
    margin-left: 10vw;
    color: #f4c518;
    font-family:Arial, Helvetica, sans-serif;
}

#footer {
    display: flex;
    justify-content: center;
}

#footer img{
    width: 100px;
}

#footer p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    color: darkgray;
}

/* Add styles for the favorite button */
.favorite-button {
    background-color: #f4c518;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 10px ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.favorite-button:hover {
    background-color: #d3ac16;
}

x#search-bar .favorite-button {
    margin-right: 10px;
}

/* Adjust grid layout for the favorites page */
#favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    max-width: 1200px; /* Limiting max-width to prevent excessive zooming */
    margin: -1 auto; /* Centering the grid */
}
#favorites-grid .movie-card {
    width: 200px; /* Adjust width of movie cards */
    text-align: center; /* Center the content */
}

#favorites-grid .movie-card img {
    max-width: 100%;
    max-height: 300px; /* Limit the height of movie posters */
}

#FavoriteMovies {
    margin-left: 0vw;
    color: #f4c518;
    font-family:Arial, Helvetica, sans-serif;
}

